.card-base{
  width: 100%;
}

.card-title{
  padding: 16px 16px 8px 16px;
}

.card-content{
  padding: 8px 16px 16px 16px;
}

.badge{
  display: inline;
  margin-right: 5px;
  margin-bottom: 10px;
}

.category-card-list{
  list-style-type: none;
  margin: 0px;
  padding-inline-start: 0px;
}

.sidebar-content{
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: rgba(0, 0, 0, 0);  /* Optional: just make scrollbar invisible */
}

.sidebar-container .MuiList-root .MuiListItem-root{
  padding-right: 0px;
}