name: Vblog build, test and deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs: 
  # Build frontend assets and deploy to server
  ui-build-deploy:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.1
      
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm 
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
            
      - name: Install dependencies
        working-directory: vblog-ui
        run: npm install
      
      - name: Build npm package
        working-directory: vblog-ui
        env:
          CI: ""
        run: npm run build --if-present
      
      - name: Upload server build artifact
        uses: actions/upload-artifact@v2
        with: 
          path: vblog-ui/build/** 
          name: vblog-ui

      - name: Deploy to server with rsync
        uses: Burnett01/rsync-deployments@4.1
        with:
          # The switches
          switches: -avzr --delete
          # The local path
          path: /vblog-ui/build/
          # The remote path
          remote_path: /root/vblog/build
          # The remote host
          remote_host: ${{ secrets.HOST }}
          # The remote user
          remote_user: ${{ secrets.USERNAME }}
          # The remote key
          remote_key: ${{ secrets.KEY_NORMAL }}
        
  # Build Vblog server and deploy
  server-build-deploy:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.0
      with:
        java-version: 11 

    - name: Cache Maven packages
      uses: actions/cache@v2.1.0
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
  

    - name: Build server
      working-directory: vblog-server
      run: mvn -B package --file pom.xml
      
    - name: Upload server build artifact
      uses: actions/upload-artifact@v2
      with: 
        path: vblog-server/target/*.jar 
  
    - name: copy file via ssh password
      uses: horochx/deploy-via-scp@v1.0.1
      with:
        host: ${{ secrets.HOST }}
        user: ${{ secrets.USERNAME }}
        local: "vblog-server/target/*.jar"
        remote: "/root/vblog"
        key: ${{ secrets.KEY }}
